{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span>Oops!! ${ hoge }</h1>
            </div>
            <div id="status">
                <p>
                    Oops is sugoi benri na SOAP client.
                </p>
                <form enctype="multipart/form-data">
                    <input type="file" name="file" v-el:file v-on:change="upload" accept=".wsdl">
                </form>

                <div v-if="isUploaded">
                    <input type="hidden" name="name" v-model="name">

                    <div>
                        <label>function</label>
                        <select v-model="soap.function">
                            <option v-for="function in functions" track-by="$index">${ function }</option>
                        </select>
                    </div>

                    <div>
                        <label>version</label>
                        <select v-model="soap.version">
                            <option v-for="ver in version">${ ver }</option>
                        </select>
                    </div>

                    <div>
                        <label>headers</label>
                        <button v-on:click="addHeader">add</button>
                        <div v-for="header in soap.header" track-by="$index">
                            <input type="text" v-model="header.namespace">
                            <input type="text" v-model="header.key">
                            <input type="text" v-model="header.value">
                            <button v-on:click="removeHeader($index)">remove</button>
                        </div>
                    </div>

                    <div>
                        <label>arg type</label>
                        <select v-model="soap.arg">
                            <option></option>
                            <option v-for="arg in argType">${ arg }</option>
                        </select>
                    </div>

                    <div v-if="soap.arg == 'array'">
                        <button v-on:click="addArray">add</button>
                        <div v-for="array in soap.array" track-by="$index">
                            <input type="text" v-model="array">
                            <button v-on:click="removeArray($index)">remove</button>
                        </div>
                    </div>

                    <div v-if="soap.arg == 'object'">
                        <button v-on:click="addObject">add</button>
                        <div v-for="object in soap.object" track-by="$index">
                            <input type="text" v-model="object.key">
                            <input type="text" v-model="object.value">
                            <button v-on:click="removeObject($index)">remove</button>
                        </div>
                    </div>

                    <button type="button" v-on:click="request">
                        request
                    </button>
                </div>

                <div id="result">
                    ${ result }
                </div>
            </div>
        </div>
    </div>
{% endblock %}
