{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span>Oops!!</h1>
            </div>
            <div id="status">
                <p>
                    Oops is sugoi benri na SOAP client no function page.
                    Sono result.
                </p>
            </div>
            <div id="result">
                <p>
                    <pre>
                        {{ result }}
                    </pre>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
